<div class="container my-auto mt-5">
  <div class="card-header">
    <div class="row">
      <h1 class="text-center">Declare your found pet</h1>
      <%= render 'form', pet: @pet %>
    </div>
  </div>
</div>
